<?xml version="1.0"?>

<model>
  <name>Euro pallet loaded C</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Daniel Vidal</name>
    <email>daniel.vidal@tum.de</email>
  </author>

  <description>
    An Euro pallet loaded with KLTs
  </description>

  <depend>
    <model>
      <uri>model://euro_pallet</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://klt</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://klt_stack_2</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://klt_stack_3</uri>
      <version>1.0</version>
    </model>
  </depend>

</model>
