<?xml version="1.0"?>

<model>
  <name>Wooden pallet stillage A</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Daniel Vidal</name>
    <email>daniel.vidal@tum.de</email>
  </author>

  <description>
    A wooden pallet loaded with a Stillage box
  </description>

  <depend>
    <model>
      <uri>model://wooden_pallet</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://stillage_box</uri>
      <version>1.0</version>
    </model>
  </depend>

</model>
