<?xml version="1.0"?>

<model>
  <name>Stillage box loaded B</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Daniel Vidal</name>
    <email>daniel.vidal@tum.de</email>
  </author>

  <description>
    A Stillage box loaded with KLTs
  </description>

  <depend>
    <model>
      <uri>model://stillage_box</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://klt</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://klt_stack_2</uri>
      <version>1.0</version>
    </model>
  </depend>

</model>
