<?xml version="1.0"?>

<model>
  <name>Toyota forklift loaded A</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Daniel Vidal</name>
    <email>daniel.vidal@tum.de</email>
  </author>

  <description>
    A Toyota forklift loaded with an stillage box
  </description>

  <depend>
    <model>
      <uri>model://toyota_forklift</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://wooden_pallet_stilage_a</uri>
      <version>1.0</version>
    </model>
  </depend>

</model>
