<?xml version="1.0"?>

<model>
  <name>PalletJack_loaded_B</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Daniel Vidal</name>
    <email>daniel.vidal@tum.de</email>
  </author>

  <description>
    A pallet jack loaded with pallets and KLTs
  </description>

  <depend>
    <model>
      <uri>model://aws_robomaker_warehouse_PalletJackB_01</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://wooden_pallet_loaded_b</uri>
      <version>1.0</version>
    </model>
  </depend>

</model>
